<div>
      <navbar></navbar>
      <div ng-repeat="video in list.videos | filter: list.yFilter" class="list-item">
          <div class="item-titles">
            <div class="video-name">{{video.title}}</div>
            <div class="video-views">Views: {{video.views}}</div>
          </div>
          <div><youtube-adapter item="video"/></div>
      </div>
      <div ng-repeat="video in list.videos | filter: list.urlsFilter" class="list-item">
          <div class="item-titles">
            <div class="video-name">{{video.title}}</div>
            <div class="video-views">Views: {{video.views}}</div>
          </div>
          <div><video-player item="video"></video-player></div>
      </div>
      <div ng-repeat="video in list.videos | filter: list.fbFilter" class="list-item">
          <div class="item-titles">
            <div class="video-name">{{video.title}}</div>
            <div class="video-views">Views: {{video.views}}</div>
          </div>
          <div><facebook item="video"></facebook></div>
      </div>
</div>
