.list-item {
  display: flex;
  border: 1px solid #ccc;
  flex-direction: column;
  margin: 1em 0;

  .item-titles {
    flex-direction: row;
    display: flex;

    div {
      flex: 1;
      padding: 1em;

      &.video-name {
        text-align: left;
      }

      &.video-views {
        text-align: right;
      }

    }
  }

}
